In [9]:
#basic imports
import numpy as np
import scipy as sp
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
plt.rcParams['figure.figsize'] = 8,4
import warnings
warnings.filterwarnings('ignore')

#import statiscial models api
import statsmodels.api as sm

In [7]:
# Simple One Factor Linear Regression

mba_df = pd.read_csv('MBA Salary.csv')

In [8]:
mba_df.head()

   S. No.  Percentage in Grade 10  Salary
0       1                   62.00  270000
1       2                   76.33  200000
2       3                   72.00  240000
3       4                   60.00  250000
4       5                   61.00  180000

In [11]:
#Lets add a 1.0 constant term to the salary dataset so we can estimate intercept value of linear reg. equation
X = sm.add_constant(mba_df["Percentage in Grade 10"])
X.head()

   const  Percentage in Grade 10
0    1.0                   62.00
1    1.0                   76.33
2    1.0                   72.00
3    1.0                   60.00
4    1.0                   61.00

In [12]:
Y = mba_df['Salary']
Y.head()

0    270000
1    200000
2    240000
3    250000
4    180000
Name: Salary, dtype: int64

In [13]:
# Lets split the data
from sklearn.model_selection import train_test_split

In [14]:
train_X, test_X, train_Y, test_Y = train_test_split(X, Y, train_size=0.8, random_state=100)

In [15]:
#Now, lets fit the model

mba_salary_lm = sm.OLS(train_Y, train_X).fit()

In [16]:
print(mba_salary_lm.params)

const                     30587.285652
Percentage in Grade 10     3560.587383
dtype: float64

In [ ]:
# Now, lets diagnose the model